<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyHbk2TUSAc8vavn62YksynCVYUModxY0</string>
	<key>GCM_SENDER_ID</key>
	<string>426649024006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aquaTrace</string>
	<key>PROJECT_ID</key>
	<string>aquatrace-d47ce</string>
	<key>STORAGE_BUCKET</key>
	<string>aquatrace-d47ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426649024006:ios:bde3af96aa1ac3b5e6b587</string>
</dict>
</plist>